# Node.js зависимости
node_modules/

# Логи Node.js
*.log

# Временные файлы
*.tmp
*.temp

# Кэш редакторов/IDE
.vscode/
.idea/

# Файлы окружения
.env

# Игнорируем всё в папке data, кроме names.json
data/*
!data/names.json
!data/  # убедиться, что папка data сама отслеживается
